
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="google-signin-client_id" content="572058480600-b34st5csqjssmlnuflpkj9dbph4n3ckt.apps.googleusercontent.com">
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">
    {% seo %}
    {% include head-custom.html %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-39GC0H9ME3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-39GC0H9ME3');
    </script>

</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">

        <h1 id="project_title">CIVa Database</h1>
        <h2 id="project_tagline">Tagline</h2>
    </header>
</div>

<!-- MAIN CONTENT -->
<main id="content" class="main-content" role="main">
    {{ content }}


    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">
            {% if site.github.is_project_page %}
            <p class="copyright">CIVa Database maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            {% endif %}
            <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>

         <p id="website_counter">
                No. of Visitors
                <a href='https://dissertation-writingservice.com/'>Dissertation WritingService</a>
                <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=9171bfd2fdb484f71c5a3e0adbc3e733bb8846b3'></script>
                <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/910988/t/5"></script>
            </p>


        </footer>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img class="img-responsive" src="images/BBSRC.png" alt="">
            </div>
            <div class="col-sm">
                <img class="img-responsive" src="images/conacyt.png" alt="">
            </div>
            <div class="col-sm">
                <img class="img-responsive" src="images/CSC.png" alt="">
            </div>
            <div class="col-sm">
                <img class="img-responsive" src="images/UKRI.png" alt="">
            </div>
        </div>
    </div>
</main>
</body>
</html>
